.sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    top: 0;
    bottom: 0;
}

.nav.nav-sidebar{
    display: block;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 220px; /* 180 + 40 */
    }
}

a.incomplete{
    color: #810700;
}
